{% extends "page.html.twig" %}

{% block content %}

{{ settings_errors() }}

<form method="post" action="options.php"> 
  {{ settings_fields(page.slug) }}
  {{ do_settings_sections(page.slug) }}
  {{ submit_button() }}
</form>

{% endblock %}